/* div {
    padding: 10px;
    text-transform: capitalize;
    text-shadow: 0.5px 0.5px 0px red, 1px 1px 0px blue, 1.5px 1.5px 0px purple;
} 

taklif 2

.one {
    text-transform: uppercase;
}

.two {
    text-transform: capitalize;
}

p {
    text-align: center;
    font-family: sans-serif;

} 

taklif 3 

div {
    width: 400px;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
}

.elipis {
    max-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

taklif 4 

a {
    background-color: #00806af7;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 6px solid #0000003b;
    padding: 2%;
} */