/* taklif 1

:root {
    --orange: orangered;
}

h1 {
    width: 120px;
    margin: 100px auto;
    background-color: var(--orange);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1::before {
    content: "";
    width: 160px;
    height: 77px;
    background-color: var(--orange);
    position: absolute;
    top: 0px;
    left: 0px;
    transform: skew(-10deg, -10deg);
    z-index: -1;
}

h1::after {
    content: "";
    width: 160px;
    height: 77px;
    background-color: var(--orange);
    position: absolute;
    top: 0px;
    left: 0px;
    transform: skew(10deg, 10deg);
    z-index: -1;
}

taklif 2

:root {
    --green: #26A69A;
}

h1 {
    width: 150px;
    background-color: var(--green);
    color: white;
    margin: 50px auto;
    padding: 20px 0px 20px 20px;
    text-align: center;
    position: relative;
}

h1::before {
    content: "";
    width: 5px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 35px;
    top: 0px;
    transform: skewX(10deg);
}

h1::after {
    content: "";
    width: 26px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: -8px;
    top: 0px;
    transform: skewX(10deg);
}

taklif 3

.class {
    matrix(3, 0.2679, 0, 3, 20, 100);
    /*  matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) 
}*/

/* taklif 4

* {
    box-sizing: border-box;
}

div {
    width: 200px;
    height: 200px;
    background-color: #006064;
    position: relative;
    margin: 300px auto;
    border-bottom: 10px solid black;
    display: flex;
}

div::before {
    content: "";
    width: 138px;
    height: 138px;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    left: 29px;
    top: -70px;
    z-index: 1;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}

div::after {
    content: "elzero";
    text-transform: capitalize;
    color: white;
    display: flex;
    align-items: end;
    padding-left: 10px;
}

taklif 5 

* {
    box-sizing: border-box;
}

div {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

div:hover {
    transform: rotateX(-180deg);
}

/* div::after {
    height: 100%;
    width: 100%;
    content: "back";
    background-color: #039BE5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    transform: rotateY(180deg);
}

div::before {
    content: "Front";
    color: white;
    width: 100%;
    height: 100%;
    background-color: #D81B60;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
} 

div::after {
    height: 100%;
    width: 100%;
    content: "back";
    background-color: #039BE5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    transform: rotateX(180deg);
}

div::before {
    content: "Front";
    color: white;
    width: 100%;
    height: 100%;
    background-color: #D81B60;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}  */