/* div div .title {
    color: red;
}

div .title {
    color: blue;
}

.title,
div p {
    color: green;
} */

/* taklif ra9m 2 

div {
    color: white;
    background-color: red;
    width: fit-content;
    max-width: 400px;
    max-height: 40px;
    padding: 10px;
    margin: 10px;
    overflow-x: auto;
} */