/* 2D Transform - Scale
ScaleX [1, -1]
ScaleY [1, -1]
Scale [1, -1]
Rotate:
--deg ==> degree (360 deg)
--rad ==> radians (6.28 rad)
--grad ==> gradians (400 grad)
--turn ==> turn (1turn)
--translate ==> (,)
*/


image {
    overflow: hidden;
    width: 720px;
    height: 350px;
}

image .image {
    transition: 0.5s;
}

.image:hover image {
    transform: scale(1.3) rotate(5deg);
}